<div class="typewriter">
<div class="typewriter-text"><h1> Login to your Movie Tracker Account</h1></div>

<form method="POST" action="/sessions">
    <label for="email">Email:</label>
    <input name="email" id="email" type="email" /><br><br>
    <label for="password">Password:</label>
    <input name="password" id="password" type="password"><br><br>
    <input type="submit">
</form>